@charset "UTF-8";
body {
    background-color: black;
    color: white;
}

#main-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 5rem;
}

#form-cantainer {
    width: 350px;
    display: flex;
    position: relative;
}

#form-container::before {
    border-radius: 50%;
    content: '';
    height: 30px;
    top: 18px;
    width: 30px;
    position: absolute;
    background: #f3e125;
    box-shadow: 20px 0px 50px 40px #f3e125;
    animation: floating 3s ease-in-out infinite alternate;
}

#form-container::after {
    border-radius: 50%;
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    background: #29b4ff;
    box-shadow: 20px 0px 50px 40px #29b4ff;
    animation: floating 3s ease-in-out infinite alternate;
    bottom: 18px;
    right: 30rem;
    z-index: -1;    
}

input:focus {
    outline: none;
}

#content {
    font-size: 2rem;
    border: 1px solid #626262c2;
    padding: 1.5rem;
    width: 100%;
    border-radius: 15px;
    background: #62626212;
    backdrop-filter: blur(30px);
    font-family: calibri;
}

.title-text {
    display: block;
    text-align: center;
    color: white;
}

.field {
    position: relative;
}

.field label {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    z-index: -1;
    transition: .4s;
}

.field input {
    color: white;
    border: none;
    border-bottom: 1px solid #3f3f3f;
    background: none;
    padding: 5px 0;
    margin-top: 32px;
    width: 100%;
}

.field input:focus+label, .field input:valid+label {
    bottom: 25px;
    font-size: 13px;
}

#action {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 30px;
}

label {
    font-size: 14px;
    display: flex;
    color: d0d0d0;
    cursor: pointer;
}

label input {
    margin-right: 3px;
    cursor: pointer;
}

#forget:hover, #signup a:hover {
    color: rgb(186, 186, 186);
}

#login {
    padding: 6px 18px;
    border-radius: 30px;
    font-weight: bold;
    width: 100%;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background: #ffffff;
    transition: .3s;
}

#login:hover {
    transform: scale(0.9);
}

#signup {
    color: #bcbcbc;
    font-size: 14px;
    text-align: center;
    margin-top: 25px;
}

@keyframes floating {
    from {
        transform: scale(0.7);
    }

    to {
        transform: scale(1);
    }
}